<section class="page">
	<header class="page__header page__header-main">
		<div class="page__header__titles">
			<h1>The future begins here.</h1>
			<h3>
				Somos estudiantes curiosos por la tecnología,
				nos encanta aprender, crear y equivocarnos.
			</h3>
		</div>
	</header>
	<article class="page__content">

        <h2 class="github-title icon-git">¿Nos haces un fork?</h2>

        <ul class="repos">
            <li class="repos__item">
                <div github-repo="MSPSpain/Website"></div>
            </li>
            <li class="repos__item">
                <div github-repo="MSPSpain/Universal-App-MVVM"></div>
            </li>
            <li class="repos__item">
                <div github-repo="MSPSpain/ArmDuino"></div>
            </li>
        </ul>

        <h2 class="icon-menu">Calendario <i>(Próximamente)</i></h2>
        <img style="width: 100%;" src="/Content/images/calendar.jpg" alt="Calendar" />

        <div class="quote">
            <h1>Ser de #MSPSpain es..</h1>
            <h3 ng-bind="randomQuote"></h3>
        </div>
	</article>
</section>   