<section class="page">
	<header class="page__header page__header-main">
		<div class="page__header__titles">
			<h1>The future begins here.</h1>
			<h3>
				Somos estudiantes curiosos por la tecnología,
				nos encanta aprender, crear y equivocarnos.
			</h3>
		</div>
	</header>
	<article class="page__content">

        <h2 class="github-title icon-git">¿Nos haces un fork?</h2>

        <ul class="repos">
            <li class="repos__item">
                <div github-repo="MSPSpain/Website"></div>
            </li>
            <li class="repos__item">
                <div github-repo="MSPSpain/Universal-App-MVVM"></div>
            </li>
            <li class="repos__item">
                <div github-repo="MSPSpain/ArmDuino"></div>
            </li>
        </ul>

        <h2 class="icon-barcode">¿Quiénes somos?</h2>
        <div class="about">
            <p>
                <b>¿Qué es un MSP? </b>
                Un <a href="http://microsoftstudentpartners.com">Microsoft Student Partner</a> es un estudiante que no se conforma solo con lo que aprende en la universidad, es una persona curiosa por la tecnología que
                quiere aprender y descubrir nuevos dispositivos, lenguajes y metas.
            </p>
            <p>
                <b>¿Qué es MSPSpain?</b>
                Una comunidad creada por miembros de los MSP de España y antiguos MSP <em>(Alumni)</em> nos dedicamos a seguir con lo que empezamos como MSPs y además a
                participar en proyectos, colaborar unos con otros y dar charlas en diferentes eventos.
            </p>
            <p>
                <b>¿Dónde estáis?</b>
                En las diferentes secciones de la web vas a poder conocer más sobre cada uno de nosotros, que lenguajes nos gustan, en que universidad hemos estudiado, en
                que eventos vamos a participar e incluso, donde nos puedes encontrar.
            </p>
        </div>

        <h2 class="icon-table2">Calendario</h2>
        <iframe style="height:600px; width:100%" src="https://sharing.calendar.live.com/calendar/private/55a9411f-f794-43a6-8786-00f713c8ced8/59e97c79-e5ea-49e9-b3ec-e4e692f53c8a/cid-9345ad7c7ee2d86f/index.html"></iframe>

        <div class="quote">
            <h1>Ser de #MSPSpain es..</h1>
            <h3 ng-bind="randomQuote"></h3>
        </div>
	</article>
</section>   