<section class="page">
    <header class="page__header page__header-projects">
        <div class="page__header__titles">
            <h1>Developers, developers, developers!</h1>
            <h3>
                ¡Nos encanta desarrollar! Aquí te presentamos algunos de nuestros proyectos.
            </h3>
        </div>
    </header>
    <article class="page__content page__content-project">
        <div class="page__content__centered">
            <div class="tags_box">
                <div class="tags_box__tags"></div>
                <div class="tags_box__search">
                    <input type="text" placeholder="Filtrar por" ng-model="searchText" />
                </div>
            </div>

            <div class="flex">
                <div class="flex__item project" ng-repeat="project in projects | orderBy:'name' | filter:searchText">
                    <img ng-repeat="image in project.images" src="{{image}}" class="project__image" />
                    <div class="project__info">
                        <h3 class="project__info__item project__info__item-name">{{project.name}}</h3>
                        <a href="{{project.url}}" target="_blank" class="project__info__item project__info__item-download icon-project">Más información</a>
                        <p class="project__info__item project__info__item-description project-hidden">{{project.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>   