@import url('../../Scripts/angular-github-repo-master/assets/base.css');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box; }

* {
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: OpenSans;
  font-weight: 100;
  font-style: normal;
  src: url('/Content/fonts/OpenSans/Light/OpenSans-Light.eot');
  src: url('/Content/fonts/OpenSans/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/Light/OpenSans-Light.woff') format('woff'), url('/Content/fonts/OpenSans/Light/OpenSans-Light.ttf') format('truetype'), url('/Content/fonts/OpenSans/Light/OpenSans-Light.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: 100;
  font-style: italic;
  src: url('/Content/fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot');
  src: url('/Content/fonts/OpenSans/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('/Content/fonts/OpenSans/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('/Content/fonts/OpenSans/LightItalic/OpenSans-LightItalic.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  src: url('/Content/fonts/OpenSans/Regular/OpenSans-Regular.eot');
  src: url('/Content/fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'), url('/Content/fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'), url('/Content/fonts/OpenSans/Regular/OpenSans-Regular.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  font-style: italic;
  src: url('/Content/fonts/OpenSans/Italic/OpenSans-Italic.eot');
  src: url('/Content/fonts/OpenSans/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/Italic/OpenSans-Italic.woff') format('woff'), url('/Content/fonts/OpenSans/Italic/OpenSans-Italic.ttf') format('truetype'), url('/Content/fonts/OpenSans/Italic/OpenSans-Italic.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: normal;
  src: url('/Content/fonts/OpenSans/Semibold/OpenSans-Semibold.eot');
  src: url('/Content/fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/Semibold/OpenSans-Semibold.woff') format('woff'), url('/Content/fonts/OpenSans/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('/Content/fonts/OpenSans/Semibold/OpenSans-Semibold.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: italic;
  src: url('/Content/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('/Content/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('/Content/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('/Content/fonts/OpenSans/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: normal;
  src: url('/Content/fonts/OpenSans/Bold/OpenSans-Bold.eot');
  src: url('/Content/fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff'), url('/Content/fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('truetype'), url('/Content/fonts/OpenSans/Bold/OpenSans-Bold.svg#OpenSans') format('svg'); }

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  font-style: italic;
  src: url('/Content/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('/Content/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('/Content/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('/Content/fonts/OpenSans/BoldItalic/OpenSans-BoldItalic.svg#OpenSans') format('svg'); }

b {
  font-weight: 400; }

@font-face {
  font-family: Icomoon;
  font-weight: normal;
  font-style: normal;
  src: url('/Content/fonts/Icomoon/icomoon.eot');
  src: url('/Content/fonts/Icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/Icomoon/icomoon.woff') format('woff'), url('/Content/fonts/Icomoon/icomoon.ttf') format('truetype'), url('/Content/fonts/Icomoon/icomoon.svg#Icomoon') format('svg'); }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: Icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 0.8em;
  padding: 5px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-location:before {
  content: "\e600"; }

.icon-bubble:before {
  content: "\e601"; }

.icon-lightning:before {
  content: "\e602"; }

.icon-menu:before {
  content: "\e603"; }

.icon-twitter:before {
  content: "\e604"; }

.icon-git:before {
  content: "\e605"; }

.icon-linkedin:before {
  content: "\e606"; }

.icon-barcode:before {
  content: "\e937"; }

.icon-table2:before {
  content: "\ea71"; }

body, html {
  background: #F0F0F0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: OpenSans;
  font-weight: 100; }
  @media screen and (max-width: 832px) {
    body, html {
      font-size: 14px; } }

body {
  overflow-x: hidden;
  overflow-y: scroll; }

p {
  margin: 10px; }

a, a:visited, a:hover, a:active {
  text-decoration: none; }

a, a:visited {
  color: #EE8702; }

a:hover, a:active {
  color: #0792fc; }

.header {
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 20px;
  display: table;
  z-index: 10; }

.header__title, .header__menu {
  display: table-cell; }

.header__title {
  width: 300px;
  padding-left: 50px;
  font-size: 1.6em; }

.header__menu {
  text-align: right;
  padding-right: 50px; }

.header__menu__list {
  list-style: none;
  display: block; }
  .header__menu__list a, .header__menu__list a:visited {
    color: #FFFFFF; }
  .header__menu__list a:hover, .header__menu__list a:active, .header__menu__list .active {
    color: #EE8702 !important; }
  @media screen and (max-width: 1030px) {
    .header__menu__list {
      display: none; } }

.header__menu__list__item {
  display: inline-block;
  margin: 20px;
  font-weight: bold; }

.header__menu__list__button {
  display: none;
  cursor: pointer;
  font-size: 44px;
  padding: 6px; }
  @media screen and (max-width: 1030px) {
    .header__menu__list__button {
      display: inline-block; } }

@media screen and (max-width: 1030px) {
  .check_responsive_menu:checked ~ .header__menu .header__menu__list {
    display: block;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    left: 0;
    top: 96px; }
    .check_responsive_menu:checked ~ .header__menu .header__menu__list .header__menu__list__item {
      display: block;
      font-size: 1.5em; } }

input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.quote {
  background: #221D15;
  color: #FFFFFF;
  font-size: 3em;
  min-height: 200px;
  padding: 5%;
  width: 100%; }
  @media screen and (max-width: 1030px) {
    .quote {
      font-size: 2.2em;
      min-height: 100px; } }

.repos {
  text-align: center;
  padding: 5% 0% 3% 0%; }

.repos__item {
  display: inline-block;
  margin: 10px;
  width: 20%; }
  .repos__item > div {
    margin: 0 auto; }
  @media screen and (max-width: 1030px) {
    .repos__item {
      display: block;
      width: 100%; } }
  .repos__item .github-box {
    height: 112px; }
    @media screen and (max-width: 1030px) {
      .repos__item .github-box {
        width: 80%;
        margin: 0 auto; } }

.about {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.3em; }

.notification_panel {
  width: 100%;
  z-index: 20;
  position: fixed;
  bottom: 0px; }
  @media screen and (max-width: 1030px) {
    .notification_panel {
      display: none; } }

.notification_panel label {
  float: left;
  width: 100%;
  opacity: 0.8;
  color: #C2C2C2;
  background: #221D15;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #020202; }

.is-hidden {
  display: none; }

.notification_panel input[type=checkbox]:checked + label {
  display: none; }

.page {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 20px; }

.page__header {
  height: 600px;
  width: 100%;
  margin-top: -20px;
  background-size: cover;
  border-bottom: 5px solid #EE8702;
  position: relative; }
  @media screen and (max-width: 832px) {
    .page__header {
      height: 400px;
      font-size: 0.7em; } }
  .page__header::before {
    content: '';
    width: 100%;
    height: 480px;
    margin-top: 116px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0; }
    @media screen and (max-width: 832px) {
      .page__header::before {
        height: 280px; } }

.page__header__titles {
  color: #FFFFFF !important;
  font-size: 4em;
  width: 42%;
  position: absolute;
  top: 45%;
  left: 15%;
  text-shadow: 0px 0px 20px black; }
  .page__header__titles h3 {
    font-size: 0.4em;
    margin-top: 20px;
    line-height: 1.3em; }
  @media screen and (max-width: 1030px) {
    .page__header__titles {
      width: 70%; } }

.page__header-main {
  background-image: url('/Content/images/headers/stairs_original.jpg'); }

.page__header-msps {
  background-image: url('/Content/images/headers/msps_original.jpg'); }

.page__header-projects {
  background-image: url('/Content/images/headers/surface_original.jpg'); }

.page__content__centered {
  max-width: 1300px;
  margin: 0 auto; }

.page h2 {
  font-weight: bold;
  font-size: 2.3em;
  margin: 2%;
  width: 100%;
  text-align: center; }

.github-title {
  margin-bottom: -3% !important; }

.map * {
  -webkit-transition: none;
          transition: none; }

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-direction: normal;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-pack: start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-pack: start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  box-align: start;
  flex-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex__item {
  ordinal-group: 1;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  flex-order: 0;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  box-flex: 0;
  box-flex: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
  flex-item-align: auto;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto; }

.tags_box {
  width: 100%;
  height: 50px;
  margin: 10px;
  display: table; }

.tags_box__tags {
  width: 80%;
  height: 50px;
  display: table-cell; }

.tags_box__search {
  width: 19%;
  height: 50px;
  display: table-cell;
  padding: 7px; }

.page__content-msp {
  width: 80%;
  margin: 0 auto; }

.user {
  background: #FFFFFF;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 270px;
  cursor: pointer;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }
  .user:active, .user:hover {
    width: 300px;
    height: 350px;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
    .user:active .user-hidden, .user:hover .user-hidden {
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
      opacity: 1;
      overflow: visible;
      white-space: normal; }
  @media screen and (max-width: 1030px) {
    .user {
      width: 300px;
      height: 350px;
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s; }
      .user .user-hidden {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s;
        opacity: 1;
        overflow: visible;
        white-space: normal; } }
  .user a, .user a:visited {
    color: #000000; }
  .user a:hover, .user a:active {
    color: #EE8702; }

.user__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5px auto;
  margin-bottom: 15px;
  display: block;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

.user__info__item {
  display: block;
  margin: 5px;
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  min-height: 18px; }

.user__info__item-name {
  font-weight: bold;
  font-size: 1.02em;
  margin-bottom: 10px; }

.user-hidden {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0; }

.js-exmsp {
  position: relative; }
  .js-exmsp::before {
    background: #EE8702;
    font-size: 0.7em;
    border-radius: 50%;
    height: 40px;
    content: 'Alumni';
    color: #FFFFFF;
    position: absolute;
    padding: 5px;
    padding-top: 15px;
    padding-left: 3px;
    right: 13px;
    width: 40px; }

.js-msp {
  position: relative; }
  .js-msp::before {
    background: #0792fc;
    font-size: 0.7em;
    border-radius: 50%;
    height: 40px;
    content: 'MSP';
    color: #FFFFFF;
    position: absolute;
    padding: 5px;
    padding-top: 15px;
    padding-left: 10px;
    right: 13px;
    width: 40px; }

.page__content-project {
  width: 80%;
  margin: 0 auto; }

.project {
  background: #FFFFFF;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 290px;
  cursor: pointer;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }
  .project:active, .project:hover {
    width: 400px;
    height: 450px;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
    .project:active .project-hidden, .project:hover .project-hidden {
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
      opacity: 1;
      overflow: visible;
      white-space: normal; }
  @media screen and (max-width: 1030px) {
    .project {
      width: 400px;
      height: 450px;
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s; }
      .project .project-hidden {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s;
        opacity: 1;
        overflow: visible;
        white-space: normal; } }

.project__image {
  width: 100%;
  max-height: 214px;
  margin: 5px auto;
  margin-bottom: 15px;
  display: block;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

.project__info__item {
  display: block;
  margin: 5px;
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  min-height: 18px; }

.project__info__item-name {
  font-weight: bold;
  font-size: 1.02em;
  margin-bottom: 10px; }

.project-hidden {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0; }
