<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> #MSPSpain - Comunidad Técnica Microsoft Student Partners España </title>

    <!-- CSS -->
    <!-- build:css css/styles.css -->
    <!-- inject:css -->
    <link href="/Content/css/main.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body ng-app="Msp">
    <div class="main">
        <div class="notification_panel">
            <input type="checkbox" id="notification" value="null" /> 
            <label for="notification" class="notification_panel__title">
                Hola, nos alegra verte por aquí, sin embargo aún no hemos terminado. Estamos añadiendo todas las mejoras que podemos<br /><br />
                Vuelve dentro de poco! Haz clic para cerrar el diálogo.
            </label>
        </div>
        <header class="header">
            <h1 class="header__title">MSPSpain</h1>
            <nav class="header__menu" ng-controller="navigationController">
                <ul class="header__menu__list">
                    <li class="header__menu__list__item" ng-class="classActive('/Inicio')"> <a href="#/Inicio">Inicio</a></li>
                    <li class="header__menu__list__item" ng-class="classActive('/ListaMSP')"> <a href="#/ListaMSP">Quiénes somos</a></li>
                    <li class="header__menu__list__item" ng-class="classActive('/Proyectos')"> <a href="#/Proyectos">Nuestros proyectos</a></li>
                    <li class="header__menu__list__item" ng-class="classActive('/Mapa')"> <a href="#/Mapa">Dónde estamos</a></li>
                </ul>
            </nav>
        </header>
        <section ng-view class="content"></section>
    </div>

    <!-- JavaScript files -->
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/angular-github-repo-master/angular-github-repo.js"></script>
    <script charset="UTF-8" type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=es-es">
    </script>


    <!-- build:js js/code.js -->
    <!-- inject:js -->
    <script src="/Content/ts/Models/project.js"></script>
    <script src="/Content/ts/Models/quote.js"></script>
    <script src="/Content/ts/Models/user.js"></script>
    <script src="/Content/ts/Interfaces/imainscope.js"></script>
    <script src="/Content/ts/Interfaces/imsplistscope.js"></script>
    <script src="/Content/ts/Interfaces/inavigationscope.js"></script>
    <script src="/Content/ts/Interfaces/iprojectsscope.js"></script>
    <script src="/Content/ts/Controllers/maincontroller.js"></script>
    <script src="/Content/ts/Controllers/mapcontroller.js"></script>
    <script src="/Content/ts/Controllers/msplistcontroller.js"></script>
    <script src="/Content/ts/Controllers/navigationcontroller.js"></script>
    <script src="/Content/ts/Controllers/projectscontroller.js"></script>
    <script src="/Content/ts/App.js"></script>
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>