@import '../utilities/variables';


body, html {
    background: $Color-Background-dimmed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $Font-main;
    font-weight: 100;

    @media screen and (max-width: $Size-Window-tablet) {
        font-size: 14px;
    }
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

p {
    margin: 10px;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
}

a, a:visited {
    color: $Color-Brand-main;
}

a:hover, a:active {
    color: $Color-Brand-secondary;
}

.header {
    background: rgba(black, 0.7);
    color: $Color-Foreground-light;
    position: fixed;
    left: 0;
    top: 0;
    height: $Global-Header-height - 40px;
    width: 100%;
    padding: 20px;
    display: table;
    z-index: 10;
}

.header__title, .header__menu {
    display: table-cell;
}
.header__title {
    width: 300px;
    padding-left: 50px;
    font-size: 1.6em;
}

.header__menu {
    text-align: right;
    padding-right: 50px;
}

.header__menu__list {
    list-style: none;
    display: block;

    a, a:visited {
        color: $Color-Foreground-light;
    }

    a:hover, a:active, .active {
        color: $Color-Brand-main !important;
    }
}

.header__menu__list__item {
    display: inline-block;
    margin: 20px;
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
}

.quote {
    background: $Color-Background-dark;
    color: $Color-Foreground-light;
    font-size: 3em;
    min-height: 200px;
    padding: 5%;
    width: 100%;
}

.repos {
    text-align: center;
    padding: 5% 0% 3% 0%;
}

.repos__item {
    display: inline-block;
    margin: 10px;
    width: 20%;


    .github-box {
        height: 112px;
    }
}

.about {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.3em;
}

.notification_panel{
    width:100%;
    z-index: 20;
    position:fixed;
    bottom:0px; 
}

.notification_panel label{
    float:left;
    width:100%;
    opacity: 0.8;
    color: $Color-Foreground-dimmed;
    background: $Color-Background-dark;
    padding-left:10%;
    padding-top:10px;
    padding-bottom:10px;
    border-top: 1px solid darken($Color-Background-dark, 10%); 
}

.notification_panel input[type=checkbox] {
     visibility:hidden;
}

.notification_panel input[type=checkbox]:checked + label {
    visibility:hidden;
}