@import '../utilities/variables';

.page__content-msp {
    width: 80%;
    margin: 0 auto;
}

$delay: 0.5s;
.user {
    background: $Color-Background-light;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 270px;
    cursor: pointer;
    transition-delay: $delay;

    &:active, &:hover{
        width: 300px;
        height: 350px;
        transition-delay: $delay;

        .user-hidden {
            transition-delay: $delay;
            opacity: 1;
            overflow: visible;
            white-space: normal;
        }
    }

    @media screen and (max-width: $Size-Window-big) {
        width: 300px;
        height: 350px;
        transition-delay: $delay;

        .user-hidden {
            transition-delay: $delay;
            opacity: 1;
            overflow: visible;
            white-space: normal;
        }
    }
    a, a:visited {
        color: $Color-Foreground-dark;
    }

    a:hover, a:active {
        color: $Color-Brand-main;
    }
}

.user__image {
    $size: 150px;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin: 5px auto;
    margin-bottom: 15px;
    display: block;
    transition-delay: $delay;
}

.user__info__item {
    display: block;
    margin: 5px;
    margin-top: -5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    min-height: 18px;
}

.user__info__item-name {
    font-weight: bold;
    font-size: 1.02em;
    margin-bottom: 10px;
}


.user-hidden {
    transition-delay: $delay;
    opacity: 0;
}

.js-exmsp {
    position: relative;

    &::before {
        background: $Color-Brand-main;
        font-size: 0.7em;
        border-radius: 50%;
        height: 40px;
        content: 'Alumni';
        color: $Color-Foreground-light;
        position: absolute;
        padding: 5px;
        padding-top: 15px;
        padding-left: 3px;
        right: 13px;
        width: 40px;
    }
}

.js-msp {
    position: relative;

    &::before {
        background: $Color-Brand-secondary;
        font-size: 0.7em;
        border-radius: 50%;
        height: 40px;
        content: 'MSP';
        color: $Color-Foreground-light;
        position: absolute;
        padding: 5px;
        padding-top: 15px;
        padding-left: 10px;
        right: 13px;
        width: 40px;
    }
}