////////////////////
// Global variables

// Colors
$Color-Brand-main: #EE8702;
$Color-Brand-secondary: #0792fc;

$Color-Background-dark: #221D15;
$Color-Background-dimmed: #F0F0F0;
$Color-Background-light: #FFFFFF;

$Color-Foreground-dark: #000000;
$Color-Foreground-dimmed: #C2C2C2;
$Color-Foreground-light: #FFFFFF;

// Sizes
$Size-Window-big: 1030px;
$Size-Window-mobile: 640px;
$Size-Window-tablet: 832px;

$Size-Button-big: 200px;

// Fonts
$Font-main: OpenSans;
$Font-icons: Icomoon;

// Global variables
$Global-Header-height: 80px + 40px; // height + padding + border
